{{- if .Values.oversight.enabled }}
{{- if or .Values.oversight.config.slackEnabled .Values.oversight.config.emailEnabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "creto-enablement.fullname" . }}-oversight-secrets
  labels:
    {{- include "creto-enablement.labels" . | nindent 4 }}
    app.kubernetes.io/component: oversight
type: Opaque
data:
  {{- if .Values.oversight.config.slackEnabled }}
  slack-webhook-url: {{ .Values.oversight.secrets.slackWebhookUrl | b64enc | quote }}
  {{- end }}
  {{- if .Values.oversight.config.emailEnabled }}
  smtp-host: {{ .Values.oversight.secrets.smtpHost | default "" | b64enc | quote }}
  smtp-username: {{ .Values.oversight.secrets.smtpUsername | default "" | b64enc | quote }}
  smtp-password: {{ .Values.oversight.secrets.smtpPassword | default "" | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
---
{{- if .Values.metering.enabled }}
{{- if .Values.metering.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "creto-enablement.fullname" . }}-metering-secrets
  labels:
    {{- include "creto-enablement.labels" . | nindent 4 }}
    app.kubernetes.io/component: metering
type: Opaque
data:
  {{- if .Values.metering.secrets.stripeApiKey }}
  stripe-api-key: {{ .Values.metering.secrets.stripeApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.metering.secrets.databaseUrl }}
  database-url: {{ .Values.metering.secrets.databaseUrl | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
---
{{- if .Values.messaging.enabled }}
{{- if .Values.messaging.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "creto-enablement.fullname" . }}-messaging-secrets
  labels:
    {{- include "creto-enablement.labels" . | nindent 4 }}
    app.kubernetes.io/component: messaging
type: Opaque
data:
  {{- if .Values.messaging.secrets.encryptionMasterKey }}
  encryption-master-key: {{ .Values.messaging.secrets.encryptionMasterKey | b64enc | quote }}
  {{- end }}
{{- end }}
{{- end }}
